---
import {Icon} from 'astro-icon/components'
---
<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: x-large;
  }
  
</style>
<nav>
    <a href="/"><Icon name="home"/></a>
    <a href="/blog/"><Icon name="blog"/></a>
    <a href="/about/"><Icon name="address-card"/></a>
</nav>