---
import {Icon} from 'astro-icon/components'
const { platform, username, icon } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
    <Icon name={`${icon}`}/>
</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: xx-large;
  }
</style>